.patient-list {
  min-height: 100vh;
}

.patient-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  padding: 50px;
}

.patient-card {
  padding: 20px;
  width: 25%;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.patient-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.patient-card h3 {
  font-size: 20px;
  margin: 15px 0;
  color: #033f7b;
}

.patient-card p {
  color: #333;
  font-size: 16px;
  margin: 25px 0;
}

.patient-card .view-details {
  display: inline-block;
  padding: 8px 12px;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.patient-card .view-details:hover {
  background-color: #45a049;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-container {
  background-color: #fff;
  width: 100%;
  max-width: 1100px;
  padding: 20px;
  border-radius: 10px;
  height: 60%;
  overflow: hidden !important;
  max-height: 90vh;
}

.details-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 30px;
  margin-top: 30px;
}

.detail-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.detail-item label {
  color: rgb(45, 48, 103);
}

@media (max-width: 1024px) {
  .patient-card {
    width: 45%;
  }

  .details-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .patient-card {
    width: 100%;
  }

  .details-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
