table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5%;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
  }
  
  thead {
    background: linear-gradient(135deg, #0077b6, #01c7ef);
    color: white;
  }
  
  thead th {
    padding: 12px 25px;
    font-weight: bold;
  }
  
  tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  tbody td {
    padding: 30px 15px;
  }
  
  tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  button {
    background: none;
    border: none;
    font-size: 15px;
    cursor: pointer;
  }
  button:hover {
    font-size: 16px;
  }
  